[Unit]
Description=Run emacs daemon inside Distrobox container
After=network.target

[Service]
User=1000
ExecStart=/usr/local/bin/start-emacs-daemon.sh

[Install]
WantedBy=default.target
